@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg-color-1: #2C3333;
  --main-color-1: #c3166c;
  --main-color-2: #aaa;
  --main-color-3: #f160bd;
  --main-color-4: #fcc419;
  --delete-color: #c3166c;
  --archive-color: #5f2895;
  --gm-background: rgba(255, 255, 255, 0.2);
  --gm-border: 1px solid rgba(255, 255, 255, 0.25);
  --gm-border-side: 1px solid rgba(255, 255, 255, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('../images/bg.jpg') no-repeat center;
  background-size: cover;
  /* color: white; */
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  color: var(--main-color-1);
  border: 1px solid var(--main-color-3);
  border-radius: 4px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-color-2);
  font-weight: bold;
}

.bg-modal-center {
  background: var( --gm-background);
}

.note-header {
  display: flex;
  align-sheets: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid var(--main-color-3);
}

.note-header h1 {
  font-size: 30px;
  margin: 8px 0;
  flex: 1;
  color: var(--main-color-3);
}

.note-app__body {
  max-width: 1000px;
  margin-top: 0;
  padding: 100px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 30px 0;
  color: var(--main-color-4);
}

 .note__search-note {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 30%;
  position: absolute;
 
  overflow: hidden;
  width:100%;
  

}
/* .note__search-note input {
  background-color: #e5e5ea;
  border-radius: 0.5rem;
 
} */
/* .note__search-note input:focus {
  border-color: var(--gm-border-side);
  background-color: #e5e5ea90;
}  */

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: var(--main-color-2);
}

.note-input__title__char-limit.zero {
  color: var(--delete-color);
}

.note-input__title {
  font-weight: bold;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #fcc419;
  color: var(--main-color-1);
  border: 1px solid var(--main-color-3);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-input button:hover {
  color: var(--bg-color-1);
  background-color: var(--main-color-3);
}


.notes-list__empty-message {
  text-align: center;
  color: var(--main-color-2);
  margin-bottom: 48px;

}

.notes-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  gap: 18px;;
  margin-bottom: 48px;

}


.note-sheet {
  max-width: 400px;
  background-color:var(--gm-background) ;
  border: 5px solid var(--gm-border-side);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light);
  overflow: hidden;
  

}

.note-sheet__mycontent {
  padding: 12px;
  flex: 1;
}

.note-sheet__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-sheet__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--main-color-2);
}

.note-sheet__body {
  font-size: 14px;
  padding: 1rem;
}

.note-sheet__action {
  margin-top: 20px;
  display: flex;
}

.note-sheet__delete-button,
.note-sheet__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid var(--main-color-2);
  padding: 12px 0;
  font-weight: bold;
  cursor: pointer;
}

.note-sheet__delete-button {
  color: var(--delete-color);
}

.note-sheet__archive-button {
  color: var(--archive-color);
}

.note-sheet__archive-button:hover {
  color: var(--bg-color-1);
  background-color: var(--archive-color);
}

.note-sheet__delete-button:hover {
  color: var(--bg-color-1);
  background-color: var(--delete-color);
}

footer {
  padding: 16px 0;
  font-size: 16px;
  background: var(--bg-color-2);
  color: var(--main-color-1);
}

footer p {
  text-align: center;
}

@media only screen and (min-width: 420px) {
  .note-app__header h1 {
    font-size: 32px;
  }

  .note-app__body {
    margin: 16px auto;
  }
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note__search-note input {
    min-width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }
  
}